<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Telnet Super App</title>
	<!-- core:css -->
	<link rel="stylesheet" href="../../../assets/vendors/core/core.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="../../../assets/css/demo_1/style.css">
	<!-- End layout styles -->
	<link rel="shortcut icon" href="../../../assets/images/favicon.png" />


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script defer
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOv0_40G3SdYjio79JjdMlNf2wmtybI7w&libraries=places&callback=initMap"></script>
  	<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOv0_40G3SdYjio79JjdMlNf2wmtybI7w&callback=initMap">
    </script>
</head>

<body onload="getLocation()">
	<div class="main-wrapper">

		<!-- Insert the sidebar partial here-->
		<% if (userDetails.role == 'Staff') { %>
		<%- include('./bars/sidebar_staff') %>
		<% } else if (userDetails.role == 'Supervisor') { %>
		<%- include('./bars/sidebar_sup') %>
		<%  } else if (userDetails.role == 'Driver Admin') { %>
		<%- include('./bars/sidebar_driver') %>
		<%  } else if (userDetails.role == 'Driver') { %>
		<%- include('./bars/sidebar_carDriver') %>
		<%  } else { %>
		<%- include('./bars/sidebar') %>
		<%  } %>

		<div class="page-wrapper">

			<!-- partial:partials/_navbar.html, this represents the topbar bar -->
			<%- include('./bars/topbar') %>
			<!-- partial -->

			<div class="page-content">
				<%- include('./partials/messages')%>
				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Request</a></li>
						<li class="breadcrumb-item active" aria-current="page">Create Trip</li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Inputs</h6>


								<form class="" action="/logistics/createTrip" method="post">
									<div class="form-group">
										<label for="exampleFormControlSelect1">Departure Meter Reading</label>
										<input name="departure_meter_reading" class="form-control"
											id="departure_meter_reading" required>
									</div>

									<div class="form-group">
										<label for="exampleFormControlSelect1">Departure Fuel Reading</label>
										<select name="departure_fuel_reading" class="form-control" id="fuel" required>
											<option >Full</option>
											<option >Half Full</option>
											<option >Half Empty</option>
											<option >Empty</option>
										</select>
									</div>

									<div class="form-group">
										<label for="exampleFormControlSelect1">Pick Up Address</label>
										<input name="pickup_address" class="form-control" id="pickup_address" required>
										<input type="hidden" id="latitude_input" />
										<input type="hidden" id="longitude_input" />
									</div>
									<input type = "hidden" name= "pickup_coordinate" class="form-control" id="pickup_coordinate" required>
									<br>

									<div id="mssg"></div>
									<hr>
									<div id="map"></div>

									<script type="text/javascript">
									// <div class="row">
									// 	<div class="col-10">									
									// 		<div class="form-group">
									// 			<label for="exampleFormControlSelect1">Pick Up Address</label>
									// 			<input name= "pickup_address" class="form-control" id="pickup_address" required>
									// 		</div>
									// 	</div>
									// 	<div class="col-2">
									// 		<button class="btn-lg btn-primary" type="button" style = "width: 150px; height: 35px; float: right; margin-top: 30px; padding: 0px;" >Generate</button>
									// 	</div>
									// </div>

									</script>


									<% if (typeof create_trip[0].destination == 'object') { %>
									<ul id='list'></ul>

									<input id="extrafeild" name="locations">
									<input id="extrafeild_two" value="<%= JSON.stringify(create_trip) %>">

									<% } %>




									<script>
										$(document).ready(function () {
											//$("#extrafeild").hide();
											$("#extrafeild_two").hide();
										});

										var details = $("#extrafeild_two").val();
										details = JSON.parse(details);
										console.log(details)
										details = details[0].destination

										//you need to come back and look at the example from the medium ting.
										var list = document.getElementById('list')
										var dragging, draggedOver, destinations;

										const genRandom = (array) => {
											var list = [];
											var location
											array.forEach((item) => {
												location = item.location
												list.push(location);
											});
											console.log(list)
											destinations = list
											renderItems(destinations)

											$("#extrafeild").val(JSON.stringify(destinations));
										}

										const renderItems = (data) => {
											list.innerText = ''
											data.forEach((item, index) => {
												var node = document.createElement("li");
												node.draggable = true;
												node.addEventListener('drag', setDragging);
												node.addEventListener('dragover', setDraggedOver);
												node.addEventListener('drop', compare);
												node.innerText = item//'Order' + ' ' + (index + 1) + ':' + ' ' + item;
												list.appendChild(node);
											})
										}

										const compare = (e) => {
											var index1 = destinations.indexOf(dragging);
											var index2 = destinations.indexOf(draggedOver);
											console.log('index 1', index1);
											console.log('index 2', index2);
											destinations.splice(index1, 1)
											destinations.splice(index2, 0, dragging)
											console.log(destinations)

											//you can call this data as well
											renderItems(destinations)
											$("#extrafeild").val(JSON.stringify(destinations));
										};

										const setDragging = (e) => {
											dragging = e.target.innerText
										}

										function setDraggedOver(e) {
											e.preventDefault();
											draggedOver = e.target.innerText
										}



										//not putting and selecting the first element also figure out how to render the items
										// i think the problem might be this slice formula
										genRandom(details) 
									</script>

									<script type="text/javascript" >
																				
										function getLocation() {
	  										if (navigator.geolocation) {											
												navigator.geolocation.getCurrentPosition(success, failure);
										  	} else { 
											
											document.getElementById("mssg").innerHTML = "Geolocation is not supported by this browser.";
	  										}
										}
	
	
											function success(position)
											{
											var myLat = position.coords.latitude;
											var myLong = position.coords.longitude;

		
											var coords = new google.maps.LatLng(myLat, myLong);
		
											var mapOptions = {
											zoom : 17,
											center : coords,
											mapTypeId : google.maps.MapTypeId.ROADMAP
											}
											var map = new google.maps.Map(document.getElementById("map"), mapOptions);
											var marker = new google.maps.Marker({map:map, position:coords});
											document.getElementById("pickup_coordinate").value = myLat + ',' +myLong;
											}

											function failure(error){
											switch(error.code) {
											case error.PERMISSION_DENIED:
											document.getElementById("map").value = "User denied the request for Geolocation."
		  									break;
											case error.POSITION_UNAVAILABLE:
											document.getElementById("map").value = "Location information is unavailable."
		  									break;
											case error.TIMEOUT:
											document.getElementById("map").value = "The request to get user location timed out."
		  									break;
											case error.UNKNOWN_ERROR:
											document.getElementById("map").value = "An unknown error occurred."
		  									break; 	
											}
										}

								
									</script>
									<br>
									<button class="btn-lg btn-primary" type="submit">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
<script>
				var pickupAddress = 'pickup_address';
				$(document).ready(function() {
					var autocomplete;
					autocomplete = new google.maps.places.Autocomplete((document.getElementById(pickupAddress)), {
						types: ['geocode']
					});
					google.maps.event.addListener(autocomplete, 'place_changed', function() {
						var near_place = autocomplete.getPlace();
						document.getElementById('latitude_input').value = near_place.geometry.location.lat();
						document.getElementById('longitude_input').value = near_place.geometry.location.log();

						document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
						document.getElementById('longitude_view').innerHTML = near_place.geometry.location.log();
					});
				});
				$(document).on('change', '#'+pickupAddress, function(){
					document.getElementById('latitude_input').value ='';
					document.getElementById('longitude_input').value ='';
					document.getElementById('latitude_view').innerHTML ='';
					document.getElementById('longitude_view').innerHTML ='';
				})
			</script>
			<!-- partial:partials/_footer.html -->
			<%- include('./bars/footer') %>
			<!-- partial -->

		</div>
	</div>

	<!-- core:js -->
	<script src="../../../assets/vendors/core/core.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="../../../assets/vendors/feather-icons/feather.min.js"></script>
	<script src="../../../assets/js/template.js"></script>
	<!-- endinject -->
	<!-- custom js for this page -->
	<script src="../../../assets/js/file-upload.js"></script>
	<!-- bootstrap stuff-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<!-- end custom js for this page -->
</body>

</html>