<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Telnet SuperApp</title>
  <!-- core:css -->
  <link rel="stylesheet" href="../../../assets/vendors/core/core.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- end plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
  <link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../../assets/css/demo_1/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../../../assets/images/favicon.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../../../assets/vendors/font-awesome/css/font-awesome.min.css" />
</head>

<body onload="changeFun()">
  <div class="main-wrapper">

    <!-- Insert the sidebar partial here-->
    <% if (userDetails.role == 'Staff') { %>
      <%- include('./bars/sidebar_staff') %>
      <% } else if (userDetails.role == 'Supervisor') { %>
      <%- include('./bars/sidebar_sup') %>
      <% } else if (userDetails.role == 'Auditor') { %>
      <%- include('./bars/sidebar_auditor') %> 
      <% } else if (userDetails.role == 'Finance') { %>
      <%- include('./bars/sidebar_finance') %>
      <%  } else if (userDetails.role == 'Driver Admin') { %>
      <%- include('./bars/sidebar_driver') %>
      <%  } else if (userDetails.role == 'Director') { %>
      <%- include('./bars/sidebar_director') %>
      <%  } else if (userDetails.role == 'Group Managing Director') { %>
      <%- include('./bars/sidebar_gmd') %>  
      <%  } else if (userDetails.role == 'Driver') { %>
      <%- include('./bars/sidebar_carDriver') %>
      <%  } else { %>
      <%- include('./bars/sidebar') %>
      <%  } %>

    <div class="page-wrapper">

      <!-- partial:partials/_navbar.html, this represents the topbar bar -->
      <%- include('./bars/topbar') %>
      <!-- partial -->

      <div class="page-content">
        <%- include('./partials/messages')%>
        <nav class="page-breadcrumb">
          <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Upload</li> -->
          </ol>
        </nav>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Quotation</h6>


                <form class=""  method="post">

                  

                  <div class="row">
                    

                      <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Created By</label>
                          <input name="created_by" class="form-control" id="created_by" value="<%= userDetails.first_name + ' ' + userDetails.last_name %>"  readonly>
                        </div>
                      </div>
                    
                </div>

                  <!-- <div class="row">
                    <div class="col">
                        <div class="form-group" id = "request">
                          <label for="exampleFormControlSelect1" >Quotation</label>
                          <select class="form-control-lg" id="bill-type" name="bill_type"
                            onchange="changeFun2()" required>
                            <option value="single" selected>One quotation</option>
                            <option value="multiple">More than one quotation</option>
                          </select>
                        </div>
                      </div>
                      
                </div> -->
                <hr>
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Advance Payment</label>
                        <select class='form-control' id='advance_payment' name='advance_payment' onchange="changeFun2()">
                          <option selected disabled>----</option>
                          <option>yes</option>
                          <option>no</option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group" id="advance_per">
                        <label for="exampleFormControlSelect1">Advance Percentage</label>
                        <input name="advance_percentage" class="form-control" id="advance_percentage" required>
                      </div>
                    </div>
                  
                </div>   
                <div class="row">
                    <div class="col">
                      <div class="form-group" id="divtechnician">
                          <label for="exampleFormControlSelect1">Technician</label>
                          <select class='form-control' id='technician' name='technician'>

                          </select>
                    </div>
                    </div>
                    
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Document</label>
                        <input type="file" name="document" class="form-control " id="document" accept=".doc,.docx,.xsxl, application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf"  required>
                      </div>
                    </div>
                </div>
                    
                  
                  

                  <div class="row">
                    <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Invoice</label>
                          <input type="file" name="invoice" class="form-control " id="invoice" accept=".doc,.docx,.xsxl, application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf"  required>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Amount Charged</label>
                          <input name="amount_charged" class="form-control" id="amount_charged" required>
                        </div>
                      </div>

                  </div>

                  
                    <div class="row">
                      
                        <script>
                          // this did not work because the google API was at the bottom
                          $(document).ready(function () {
                            console.log("values");

        
                            
                          });
                        </script>
  
                        <script>
  
                          function changeFun() {
                            console.log("starting")

                            var getJSON = function (url) {
    return $.ajax({
        url: url,
        type: 'GET',
        headers: { "Authorization": "Token 835bf12929dd3bc50c2c8b0125db6ac0919ba5d4" },
        contentType: 'application/json'
    });
  };

                            getJSON("https://telnetsupperapp.com.ng:8443/api/v1/vehicle/technicians").done(function(data, status){
                              console.log("here",data),
                              
                              console.log("here")
                              console.log("here",data)
                              console.log(status)
                              if (status == "success") {
                                console.log('data', data)
                                var html = "<option selected> --- </option>"
                                for (var i = 0; i < data.length; i++) {
                                  html += "<option value = '" + data[i].id + "'> " + data[i].company_name + "  </option>" // for some reason this thing does not work when i made it with the select being added here, it could be that you didn't call it properly
                                }
                                
  
                                //display the thing
                                $("#technician").html(html);
                                $("#divtechnician").show();
  
                              } else {
                                alert("try again or contact the admin.")
                              }
                            
                    
                            }).fail(function(){

                            })
                            
                  }
  
                 </script>
                  
                         
                  </div>
                  

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <!-- <label for="exampleFormControlSelect1">Quantity</label> -->
                        <input type="hidden" name="fault" class="form-control" id="fault" value="<%= faults.id %>"  required>
                      </div>
                    </div> 
                    
                      
                  </div>

                  <div>
										
                      
						</div>

									<div class="table-responsive" id="extrafeild"></div>
                  
                  <!-- <button class="btn-lg btn-primary" type="submit">Submit</button> -->
                  
                  <button id="reqBtn" class="btn-lg btn-primary" onclick="Submit()" type="submit" value="Save"> Save 
                    <span id="reqLoader" style="display: none;"> 
                         <i class="fa fa-spin fa-spinner" aria-hidden="true"></i> 
                     </span> 
                    </button>

                    <p id="addMore" class="btn btn-light" style="float: right;"
											onclick="arrange()">add list</p>
                  <input name="random" id="random">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <script>

				$(document).ready(
          
        function removeButton() {
					// $("#addMore").hide()
					$("#random").hide()
					$("#extrafeild").hide()
          $("#reqBtn").hide()
					// $("#request").hide()
				});
			</script>
      <script>

				
				function changeFun2() {
					var selectBox = document.getElementById("advance_payment");
					var selectedValue = selectBox.options[selectBox.selectedIndex].value;

					if (selectedValue == 'yes') {
						$("#advance_per").show();
						
					} else if (selectedValue == 'no') {

						$("#advance_per").hide();
						
					}
				};
     </script>
     

<script>

  
var values = [];   
var table_values = [];                       
function arrange() {
  $("#reqBtn").show();
    
    console.log("values",values);
    var file = document.getElementById('document').files[0];

    var file2 = document.getElementById('invoice').files[0];

    console.log('file', file)
    console.log('file2', file2)


    var reader = new FileReader();
    var reader2 = new FileReader();
    
    reader.readAsDataURL(file);
        reader.onload  = function () {
            
          
            
            dataURL = reader.result;
          
            var output = document.getElementById('document');
            output.src = dataURL;
            console.log("output", output.src);
            
            sessionStorage.setItem("result",reader.result);
          };
    
    
      reader2.readAsDataURL(file2);
        reader2.onload  = function () {
          dataURL2 = reader2.result;
            
            var output2 = document.getElementById('invoice');
            output2.src = dataURL2;
            console.log("output2", output2.src);
            sessionStorage.setItem("result2",reader2.result);
            
            
          };
    
    

    var result = sessionStorage.getItem("result")
    console.log("result", result);


    var result2 = sessionStorage.getItem("result2")
    console.log("result2", result2);


var advance_percentage = document.getElementById('advance_percentage').value;
console.log(advance_percentage)
var advance_payment = document.getElementById('advance_payment').value;
console.log(advance_payment)
var technician = document.getElementById('technician').value;
console.log(technician)
var technician_name = $( "#technician option:selected" ).text();;
console.log(technician_name)
var doc = result;
console.log(doc)
var invoice = result2;
console.log(invoice)
var amount_charged = document.getElementById('amount_charged').value;

if (advance_payment == '' || technician == '' || doc =='' || invoice =='' || amount_charged =='') {
alert('kindly fill all fields!');
return;
  // swal("kindly fill all fields!", {
  //   buttons: false,
  //   timer: 2000,  // disappears after 2 seconds
  //});
} 
if(advance_percentage != '' || advance_payment == 'yes' || technician != '' || doc !='' || invoice !='' || amount_charged !='')  {
var details = {
  technician: Number(technician),
  advance_payment: advance_payment,
  advance_percentage: Number(advance_percentage),
  amount_charged: Number(amount_charged),
  document: doc,
  invoice: invoice
  
};
values.push(details);
appendFunction();

var table_details = {
  technician_name: technician_name,
  advance_payment: advance_payment,
  advance_percentage: Number(advance_percentage),
  amount_charged: Number(amount_charged),
  document: doc,
  invoice: invoice
  
};
table_values.push(table_details);
appendFunction();

// you can use the array. for each to set a value for the id
// or maybe you can use the post using jquery to send this to a route.

var html = "<br>"
html += "<table class='table table-striped'>";
html += "<thead>";
html += "<tr>";
html += "<th>" + "advance_payment" + "</th>";
html += "<th>" + "advance_percentage" + "</th>";
html += "<th>" + "technician" + "</th>";
html += "<th>" + "document" + "</th>";
html += "<th>" + "invoice" + "</th>";
html += "<th>" + "amount_charged" + "</th>";
html += "<th>" + "Action" + "</th>";
html += "</tr>";
html += "</thead>";
html += "<tbody>";
for (var i = 0; i < table_values.length; i++) {
  html += "<tr>";
  html += "<td>" + table_values[i].advance_payment + "</td>";
  html += "<td>" + table_values[i].advance_percentage + "</td>";
  html += "<td>" + table_values[i].technician_name + "</td>";
  html += "<td>" + "document" + "</td>";
  html += "<td>" + "invoice" + "</td>";
  html += "<td>" + table_values[i].amount_charged + "</td>";
  html += "<td class='deleteButton btn btn-default' onClick='deleteFunction(" + i + ")'>remove</td>";

  html += "</tr>";
}
html += "</tbody>"
html += "</table>";
html += "<br>"

// display record
$("#extrafeild").html(html);

if (table_values.length > 0) {
$("#extrafeild").show();
}

}
else if(advance_payment == 'no' || technician != '' || doc !='' || invoice !='' || amount_charged !='')  {

var details = {
  technician: Number(technician),
  advance_payment: advance_payment,
  amount_charged: Number(amount_charged),
  document: doc,
  invoice: invoice
  
};
values.push(details);
appendFunction();

var table_details = {
  technician_name: technician_name,
  advance_payment: advance_payment,
  advance_percentage: Number(advance_percentage),
  amount_charged: Number(amount_charged),
  document: doc,
  invoice: invoice
  
};
table_values.push(table_details);
appendFunction();

// you can use the array. for each to set a value for the id
// or maybe you can use the post using jquery to send this to a route.

var html = "<br>"
html += "<table class='table table-striped'>";
html += "<thead>";
html += "<tr>";
html += "<th>" + "advance_payment" + "</th>";
html += "<th>" + "technician" + "</th>";
html += "<th>" + "document" + "</th>";
html += "<th>" + "invoice" + "</th>";
html += "<th>" + "amount_charged" + "</th>";
html += "<th>" + "Action" + "</th>";
html += "</tr>";
html += "</thead>";
html += "<tbody>";
for (var i = 0; i < table_values.length; i++) {
  html += "<tr>";
  html += "<td>" + table_values[i].advance_payment + "</td>";
  html += "<td>" + table_values[i].technician_name + "</td>";
  html += "<td>" + "document" + "</td>";
  html += "<td>" + "invoice" + "</td>";
  html += "<td>" + table_values[i].amount_charged + "</td>";
  html += "<td class='deleteButton btn btn-default' onClick='deleteFunction(" + i + ")'>remove</td>";

  html += "</tr>";
}
html += "</tbody>"
html += "</table>";
html += "<br>"

// display record
$("#extrafeild").html(html);

if (table_values.length > 0) {
$("#extrafeild").show();
}
}
 else  {

var details = {
technician: Number(technician),
advance_payment: advance_payment,
advance_percentage: Number(advance_percentage),
amount_charged: Number(amount_charged),
document: doc,
invoice: invoice
  
};
values.push(details);
appendFunction();

var table_details = {
  technician_name: technician_name,
  advance_payment: advance_payment,
  advance_percentage: Number(advance_percentage),
  amount_charged: Number(amount_charged),
  document: doc,
  invoice: invoice
  
};
table_values.push(table_details);
appendFunction();
// you can use the array. for each to set a value for the id
// or maybe you can use the post using jquery to send this to a route.

var html = "<br>"
html += "<table class='table table-striped'>";
html += "<thead>";
html += "<tr>";
html += "<th>" + "advance_payment" + "</th>";
html += "<th>" + "advance_percentage" + "</th>";
html += "<th>" + "technician" + "</th>";
html += "<th>" + "document" + "</th>";
html += "<th>" + "invoice" + "</th>";
html += "<th>" + "amount_charged" + "</th>";
html += "<th>" + "Action" + "</th>";
html += "</tr>";
html += "</thead>";
html += "<tbody>";
for (var i = 0; i < table_values.length; i++) {
  html += "<tr>";
  html += "<td>" + table_values[i].advance_payment + "</td>";
  html += "<td>" + table_values[i].advance_percentage + "</td>";
  html += "<td>" + table_values[i].technician_name + "</td>";
  html += "<td>" + "document" + "</td>";
  html += "<td>" + "invoice" + "</td>";
  html += "<td>" + table_values[i].amount_charged + "</td>";
  html += "<td class='deleteButton btn btn-default' onClick='deleteFunction(" + i + ")'>remove</td>";

  html += "</tr>";
}
html += "</tbody>"
html += "</table>";
html += "<br>"

// display record
$("#extrafeild").html(html);

if (table_values.length > 0) {
$("#extrafeild").show();
}
}
}



function deleteFunction(param) {
table_values.splice(param, 1)
appendFunction()

var html = "<br>"
html += "<table class='table table-striped'>";
html += "<thead>";
html += "<tr>";
  html += "<th>" + "advance_payment" + "</th>";
  html += "<th>" + "advance_percentage" + "</th>";
  html += "<th>" + "technician" + "</th>";
  html += "<th>" + "document" + "</th>";
  html += "<th>" + "invoice" + "</th>";
  html += "<th>" + "amount_charged" + "</th>";
html += "<th>" + "Action" + "</th>";
html += "</tr>";
html += "</thead>";
html += "<tbody>";
for (var i = 0; i < table_values.length; i++) {
  html += "<tr>";
    html += "<td>" + table_values[i].advance_payment + "</td>";
    html += "<td>" + table_values[i].advance_percentage + "</td>";
    html += "<td>" + table_values[i].technician_name + "</td>";
    html += "<td>" + "document" + "</td>";
    html += "<td>" + "invoice" + "</td>";
    html += "<td>" + table_values[i].amount_charged + "</td>";
  html += "<td class='deleteButton btn btn-default' onClick='deleteFunction(" + i + ")'>remove</td>";

  html += "</tr>";
}
html += "</tbody>"
html += "</table>";
html += "<br>"

// display record
$("#extrafeild").html(html);

// show
if (table_values.length > 0) {
  $("#extrafeild").show();
};


}


function appendFunction() {
var x = JSON.stringify(values)
$('#random').val(x)
}

function  Submit(){
  // alert('hey you?'); 

var loading = document.getElementById("reqBtn");
loading.disabled = true;
var loader = document.getElementById("reqLoader");
loader.style.display = "inline-block";

var fileInput = document.getElementById('document').value
console.log(fileInput);
// var fileInput2 = document.getElementById('invoice').value
// console.log(fileInput2);

if (fileInput == "" ) {
            alert('Please Select a document to Continue');
            loading.disabled = false; 
            loader.style.display = "none";
        }
    else if(fileInput == "" ){
        alert('Please Select a document to Continue');
            loading.disabled = false; 
            loader.style.display = "none";
        }
  else {     

var file = document.getElementById('document').files[0]
var file2 = document.getElementById('invoice').files[0]

console.log("file", file);


    var reader = new FileReader();
    var reader2 = new FileReader();
    
        
        
        if (file.size > 2000000) {
            alert('file must be 2mb or less')
            loading.disabled = false; 
            loader.style.display = "none";
        

        }
        else if(file.size > 2000000){
          alert('file must be 2mb or less')
            loading.disabled = false; 
            loader.style.display = "none";
        }
              
        else
        {

    // function reader(){
      
    // }
        reader.onload  = function () {
            
            
            dataURL = reader.result;
          //  console.log("result_one", result_one)
            // return result_one
            var output = document.getElementById('document');
            output.src = dataURL;
            // console.log("output", output.src);
            
            sessionStorage.setItem("result",reader.result);
          };
    
    
    // const result2 = async ()=>{
        reader2.onload  = function () {
          dataURL2 = reader2.result;
            
            var output2 = document.getElementById('invoice');
            output2.src = dataURL2;
    //         console.log("output2", output2.src);
    sessionStorage.setItem("result2",reader2.result);
            
            
          };
    // }
    // console.log("dataURL", reader.readAsDataURL(file))
    reader.readAsDataURL(file);
    var result = sessionStorage.getItem("result")
    console.log("result", result);

    reader2.readAsDataURL(file2);
    var result2 = sessionStorage.getItem("result2")
    console.log("result2", result2);
    

    
    var fault = $('#fault').val();
    //           console.log(fault)
              var require_advance = $('#advance_payment').val();
    //           console.log(require_advance)
              var advance_percentage = $('#advance_percentage').val();
    //           console.log(advance_percentage)
              var amount_budgeted = $('#amount_budgeted').val();
    //           console.log(amount_budgeted)
              var created_by = $('#created_by').val();
    //           console.log(created_by)
              
              var technician = $('#technician').val();
    //           console.log(technician)
              var amount_charged = $('#amount_charged').val();
    //           console.log(amount_charged)
              appendFunction();
              var random = $('#random').val();
    //           console.log("random", random)
              
              const data ={
                "fault" : fault, 
                "created_by": created_by, 
                "quotation_set": JSON.parse(random)
              }
              
              console.log("data", JSON.stringify(data))
                var putJSON = function (url) {
return $.ajax({
url: url,
type: 'POST',
data:JSON.stringify(data),
headers: { "Authorization": "Token 835bf12929dd3bc50c2c8b0125db6ac0919ba5d4" },
contentType: 'application/json',
error: function(xhr, status, error) {
  var err = eval("(" + xhr.responseText + ")");
  console.log(xhr)
  if (err.fault) {
  alert("fault :" + err.fault)
  loading.disabled = false; 
  loader.style.display = "none";
  
}
else {
  alert("fields cannot be submitted")
  loading.disabled = false; 
  loader.style.display = "none";
}
}
});
};

putJSON(`https://telnetsupperapp.com.ng:8443/api/v1/vehicle/recommend_quotation`).done(function(data, status){
                  console.log("here",data),
                  
                  console.log("here")
                  console.log("here",data)
                  console.log(status)
                  ID = data.id
                  if (status == "success") {

                    loading.disabled = false;
                    loader.style.display = "none";
                    alert('submitted successfully,quotations upload successful, select one')
                    window.location.href=`/facilities/viewQuotation?id=${ID}`;
                } else {
                    loading.disabled = false; 
                    loader.style.display = "none";
                    alert('invoice upload Not successful')
                  }
        
                }).fail(function (){
            })
           
          reader.onerror = function (error) {
          console.log('Error: ', error);
    };

  
           
          // const files_upload = [
          // new Promise(resolve => reader.result),
          // new Promise(resolve => reader2.result)

          // ]
          // const promise1 = reader.result;
          // const promise2 = reader2.result;

    
// Promise.all([result(), result2()]).then(function (response){
//    console.log(response);
// })
 
  // .then(data => {
    
  //   
 return;
 }
}        
}

      </script>


      <!-- partial:partials/_footer.html -->
      <%- include('./bars/footer') %>
      <!-- partial -->

    </div>
  </div>

  <!-- core:js -->
  <script src="../../../assets/vendors/core/core.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- end plugin js for this page -->
  <!-- inject:js -->
  <script src="../../../assets/vendors/feather-icons/feather.min.js"></script>
  <script src="../../../assets/js/template.js"></script>
  <!-- endinject -->
  <!-- custom js for this page -->
  <script src="../../../assets/js/file-upload.js"></script>
  <!-- end custom js for this page -->
</body>

</html>