<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Telnet SuperApp</title>
  <!-- core:css -->
  <link rel="stylesheet" href="../../../assets/vendors/core/core.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <!-- end plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
  <link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../../assets/css/demo_1/style.css">
  <link rel="stylesheet" href="../../../assets/css/demo_1/custom.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../../../assets/images/favicon.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="main-wrapper">

    <!-- Insert the sidebar partial here-->
    <% if (userDetails.role == 'Staff') { %>
    <%- include('./bars/sidebar_staff') %>
    <% } else if (userDetails.role == 'Supervisor') { %>
    <%- include('./bars/sidebar_sup') %>
    <% } else if (userDetails.role == 'Auditor') { %>
    <%- include('./bars/sidebar_auditor') %> 
    <% } else if (userDetails.role == 'Finance') { %>
    <%- include('./bars/sidebar_finance') %>
    <% } else if (userDetails.role == 'Procurement') { %>
    <%- include('./bars/sidebar_procurement') %>
    <% } else if (userDetails.role == 'Facility Officer') { %>
    <%- include('./bars/sidebar_facility') %>
    <%  } else if (userDetails.role == 'Driver Admin') { %>
    <%- include('./bars/sidebar_driver') %>
    <%  } else if (userDetails.role == 'Driver') { %>
    <%- include('./bars/sidebar_carDriver') %>
    <%  } else { %>
    <%- include('./bars/sidebar') %>
    <%  } %>
    <!-- partial -->

    <div class="page-wrapper">

      <!-- partial:partials/_navbar.html, this represents the topbar bar -->
      <%- include('./bars/topbar') %>
      <!-- partial -->

      <div class="page-content">

        <nav class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Your Trip</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
          </ol>
        </nav>




        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card card-special">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div>
                    <h6 class="card-title d-block">Destination</h6>
                    <input type="hidden" id="destination" value='<%=trip[0].destination%>'  readonly>
                  </div>

                </div>


                <div>
                  <input name="pickup_try" class="form-control" id="pickup_try">
                </div>
                <!--- this is the place to insert maps to get the list of the things-->
                <div id="map" style="height: 400px; width: auto;"></div>

                <script>
                  // function geocode(){
                    

                  $(document).ready(function () {
                    $("#hide").hide();
                    getLocation()
                  });
                  var x = document.getElementById("hide");

                  function getLocation() {
                    
                  
	  										if (navigator.geolocation) {											
												navigator.geolocation.getCurrentPosition(success, failure);
										  	} else { 
											
											document.getElementById("mssg").innerHTML = "Geolocation is not supported by this browser.";
	  										}
										}
	
	
											function success(position)
											{
											var myLat = position.coords.latitude;
                      var myLong = position.coords.longitude;
                      var coords = new google.maps.LatLng(myLat, myLong);
                      var mapOptions = {
											zoom : 17,
											center : coords,
											mapTypeId : google.maps.MapTypeId.ROADMAP
											}
											var map = new google.maps.Map(document.getElementById("map"), mapOptions);
											// var marker = new google.maps.Marker({map:map, position:coords});

                      // get destination
                      var geocoder = new google.maps.Geocoder();
                      var destination = "Ikotun Lagos ";

                      geocoder.geocode({ 'address' : destination}, function(results, status) {
                      var c = results[0].geometry.location;
                      var latitude = destination.lat();
                      var longitude = destination.lng();        
                      });

                      // add marker
                      // var marker = new google.maps.Marker({map:map, position:{lat, lng}});
                                                                  
                    google.maps.event.addListener(map, 'click', function (event) {
                    });
                      // })
                      // .catch(function(error){
                      //   console.log(error);
                      // })
                      addMarker({myLat, myLong});
                      addMarker({latitude, longitude});
                      // Add Marker Function
                    function addMarker(props) {
                      var marker = new google.maps.Marker({
                        position: coords,
                        map: map,
                        //icon:props.iconImage
                      });
                    }
                    }

                  function failure(error) {
                    switch (error.code) {
                      case error.PERMISSION_DENIED:
                        x.value = "User denied the request for Geolocation."
                        break;
                      case error.POSITION_UNAVAILABLE:
                        x.value = "Location information is unavailable."
                        break;
                      case error.TIMEOUT:
                        x.value = "The request to get user location timed out."
                        break;
                      case error.UNKNOWN_ERROR:
                        x.value = "An unknown error occurred."
                        break;
                    }
                  }

                </script>

                <script>
                  // function initMap() {
                    // Map options
                    // var options = {
                    //   zoom: 8,
                    //   center: { lat: 42.3601, lng: -71.0589 }
                    // }

                    // New map
                    // var map = new google.maps.Map(document.getElementById('map'), options);

                    // Listen for click on map
                    // google.maps.event.addListener(map, 'click', function (event) {
                      // Add marker
                    //   addMarker({ coords: event.latLng });
                    // });

                    /*
                    // Add marker
                    var marker = new google.maps.Marker({
                      position:{lat:42.4668,lng:-70.9495},
                      map:map,
                      icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                    });
                
                    var infoWindow = new google.maps.InfoWindow({
                      content:'<h1>Lynn MA</h1>'
                    });
                
                    marker.addListener('click', function(){
                      infoWindow.open(map, marker);
                    });
                    */

                    // Array of markers
                    var markers = [
                      {
                        coords: { lat: 42.4668, lng: -70.9495 },
                        iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                        content: '<h1> Telnet Kofo Abayomi </h1>'
                      },
                      {
                        coords: { lat: 42.4668, lng: -70.9495 },
                        content: '<h1>Amesbury MA</h1>'
                      },
                      {
                        coords: { lat: 42.7762, lng: -71.0773 }
                      }
                    ];

                    // Loop through markers
                    for (var i = 0; i < markers.length; i++) {
                      // Add marker
                      addMarker(markers[i]);
                    }

                    // Add Marker Function
                    function addMarker(props) {
                      var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,
                        //icon:props.iconImage
                      });

                      // Check for customicon
                      if (props.iconImage) {
                        // Set icon image
                        marker.setIcon(props.iconImage);
                      }

                      // Check content
                      if (props.content) {
                        var infoWindow = new google.maps.InfoWindow({
                          content: props.content
                        });

                        marker.addListener('click', function () {
                          infoWindow.open(map, marker);
                        });
                      }
                    }
                  // }
                </script>
                <script>

                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOv0_40G3SdYjio79JjdMlNf2wmtybI7w&callback=initMap">
            </script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  
  <%if (trips.request_type == ['dropoff']) { %>
    
      <button class="btn-lg btn-danger" type="button"
      style="width: 150px; height: 35px; float: right; margin-top: 30px; padding: 0px;"
      data-toggle="modal" data-target="#exampleModalCenter_two"> End Trip</button>

      
  <% } else { %>
    <button class="btn-lg btn-primary" type="button"
    style="width: 150px; height: 35px; float: right; margin-top: 30px; padding: 0px;"
    data-toggle="modal" data-target="#exampleModalCenter">Arrived Destination
  </button>

  <% } %>
  

    <form class="" action="/logistics/getTrip" method="post"></form>      
   
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Enter the fuel and meter readings</h5>
            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="exampleFormControlSelect1">Arrival Meter Reading</label>
                <input name="meter" class="form-control" id="meter"
                    required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Arrival Fuel Reading</label>
                <input name="fuel" class="form-control" id="fuel"
                    required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Drop Off</button>
          </div>
        </div>        
    </div>
  </div>
</div>
</form>

<form class="" action="/logistics/endTrip" method="post">  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter_two" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter the fuel and meter readings</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
  
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Arrival Meter Reading</label>
                    <input name="meter" class="form-control" id="meter"
                        required>
                </div>
  
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Arrival Fuel Reading</label>
                    <select name="fuel" class="form-control" id="fuel" required>
											<option >Full</option>
											<option >Half Full</option>
											<option >Half Empty</option>
											<option >Empty</option>
										</select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">End Trip</button>
              </div>
            </div>
             
            
        </div>
    </div>
  </div> 
  </form>




                <script>
                  // there does not seem to be a suitable solution
                  function updateRequest() {
                    $.get({
                      type: 'PUT',
                      url: 'https://telnetsupperapp.com.ng:8443/api/v1/accounts/registration_roles',
                      contentType: 'application/json',
                      data: JSON.stringify(data), // access in body
                    },
                      function (data, status) {
                        console.log(data)
                        console.log(status)
                        if (status == "success") {
                          console.log('data', data)
                          var html = "<option selected> --- </option>"
                          for (var i = 0; i < data.length; i++) {
                            html += "<option value = '" + data[i].id + "'> " + data[i].name + "  </option>" // for some reason this thing does not work when i made it with the select being added here, it could be that you didn't call it properly
                          }
                          // onchange = '"+changeFun2()+"'

                          //display the thing
                          $("#role").html(html);
                          $("#divrole").show();

                        } else {
                          alert("try again or contact the admin.")
                        }
                      });
                  }
                </script>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- partial:partials/_footer.html -->
      <%- include('./bars/footer') %>
      <!-- partial -->

    </div>
  </div>

  <!-- core:js -->
  <script src="../../../assets/vendors/core/core.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../../../assets/vendors/chartjs/Chart.min.js"></script>
  <script src="../../../assets/vendors/jquery.flot/jquery.flot.js"></script>
  <script src="../../../assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
  <script src="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="../../../assets/vendors/apexcharts/apexcharts.min.js"></script>
  <script src="../../../assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="../../../assets/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- end plugin js for this page -->
  <!-- inject:js -->
  <script src="../../../assets/vendors/feather-icons/feather.min.js"></script>
  <script src="../../../assets/js/template.js"></script>
  <!-- endinject -->
  <!-- custom js for this page -->
  <script src="../../../assets/js/dashboard.js"></script>
  <script src="../../../assets/js/data-table.js"></script>
  <!-- end custom js for this page -->
</body>

</html>