<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telnet SuperApp</title>
    <!-- core:css -->
    <link rel="stylesheet" href="../../../assets/vendors/core/core.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../assets/css/demo_1/style.css">
    <link rel="stylesheet" href="../../../assets/css/demo_1/custom.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
</head>

<body>
    <div class="main-wrapper">

        <!-- Insert the sidebar partial here-->
        <% if (userDetails.role == 'Staff') { %>
        <%- include('./bars/sidebar_staff') %>
        <% } else if (userDetails.role == 'Supervisor') { %>
        <%- include('./bars/sidebar_sup') %>
        <% } else if (userDetails.role == 'Auditor') { %>
        <%- include('./bars/sidebar_auditor') %> 
        <% } else if (userDetails.role == 'Finance') { %>
        <%- include('./bars/sidebar_finance') %>
        <%  } else if (userDetails.role == 'Driver Admin') { %>
        <%- include('./bars/sidebar_driver') %>
        <%  } else if (userDetails.role == 'Driver') { %>
        <%- include('./bars/sidebar_carDriver') %>
        <%  } else { %>
        <%- include('./bars/sidebar') %>
        <%  } %>
        <!-- partial -->

        <div class="page-wrapper">

            <!-- partial:partials/_navbar.html, this represents the topbar bar -->
            <%- include('./bars/topbar') %>
            <!-- partial -->

            <div class="page-content">
                <%- include('./partials/messages')%>

                <nav class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Vehicle</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">Bill Of Material</li> -->
                    </ol>
                </nav>


                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card card-special">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div>
                                        <h6 class="card-title d-block">Vehicle Repair Queue</h6>
                                    </div>

                                    <div class="d-flex align-items-center flex-wrap text-nowrap ">
                                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex"
                                            id="dashboardDate">
                                            <span class="input-group-addon bg-transparent"><i data-feather="calendar"
                                                    class=" text-primary"></i></span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <form class="" action="/facilities/servicingQueue" method="post">
                                <div class="table-responsive">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th> Value </th>
                                                <th> Description </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr>
                                                <th> Update </th>
                                                <td> <a href="/facilities/updateRepairQueue_driveradmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-danger rounded-pill" >Re-Upload Invoice</a> </td>
                                            </tr> -->
                                            <tr>
                                                <th> Invoice </th>
                                                <%if ((queues.payment_type == 'advance' && queues.advance_invoice != null && queues.auditor_advance_approval == 'PENDING' && queues.finance_advance_approval == 'PENDING' ) || (queues.payment_type == 'advance' && queues.advance_invoice != null && queues.finance_advance_approval == 'DENIED' && queues.auditor_advance_approval == 'DENIED' ) || (queues.payment_type == 'advance' && queues.advance_invoice != null && queues.finance_advance_approval == 'PENDING' && queues.auditor_advance_approval == 'APPROVED' ) || (queues.payment_type == 'advance' && queues.advance_invoice != null && queues.finance_advance_approval == 'PENDING' && queues.auditor_advance_approval == 'DENIED' )){ %>
                                                    <td><a href="/facilities/viewAdvanceInvoice_driverAdmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" >Advance</a> </td>
                                                    <% } else if ((queues.payment_type == 'balance' && queues.balance_invoice == null) || (queues.payment_type == 'balance' && queues.auditor_balance_approval == 'PENDING' && queues.finance_balance_approval == 'PENDING' ) || (queues.payment_type == 'balance' && queues.finance_balance_approval == 'DENIED' && queues.auditor_balance_approval == 'DENIED' ) || (queues.payment_type == 'balance' && queues.finance_balance_approval == 'PENDING' && queues.auditor_balance_approval == 'APPROVED' ) || (queues.payment_type == 'balance' && queues.finance_balance_approval == 'PENDING' && queues.auditor_balance_approval == 'DENIED' )){ %>
                                                        <td><a href="/facilities/viewBalanceInvoice_driverAdmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" >Full Payment</a> </td>
                                                    <% } else if ((queues.payment_type == 'advance' && queues.advance_invoice != null ) && (queues.finance_advance_approval == 'APPROVED' && queues.auditor_advance_approval == 'APPROVED' )){ %>
                                                        <td><a href="/facilities/viewBalanceInvoice_driverAdmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" >Balance</a> </td>
                                                        <% } else{ %>
                                                            <td><a class="badge badge-primary" >Completed</a> </td>   
                                                        <% } %>
                                                    </tr>

                                                <!-- <%if ((queues.payment_type == 'advance' && queues.advance_invoice != null && queues.auditor_advance_approval == 'APPROVED' ) || (queues.payment_type == 'balance' && queues.balance_invoice != null && queues.auditor_balance_approval != 'APPROVED' ) || (queues.payment_type == 'balance' && queues.balance_invoice == null  )) { %>
                                                    <tr>
                                                        <th> Invoice </th>
                                                        <td> <a href="/facilities/viewBalanceInvoice_driverAdmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-warning rounded-pill" > Upload Balance Invoice</a>  </td>
                                                        
                                                    </tr>
                                                <% } else{ %>
                                                    <tr>
                                                        <th> Advance Invoice </th>
                                                        <td> <a href="/facilities/viewAdvanceInvoice_driverAdmin?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" > Upload Advance Invoice</a> </td>
                                                <% } %> -->
                                            <tr>
                                                <th> Vehicle </th>
                                                <td> <%= queues.vehicle_name%> </td>
                                            </tr>

                                            <tr>
                                                <th> Servicing Date </th>
                                                <td> <%= queues.repair_date%> </td>
                                            </tr>

                                            

                                            <tr>
                                                <th> Created By </th>
                                                <td> <%= queues.created_by%> </td>
                                            </tr>

                                            <!-- <tr>
                                                <th> Payment Type </th>
                                                <td> <%= queues.payment_type%> </td>
                                            </tr> -->
                                            
                                            <tr>
                                                <th> Advance Amount </th>
                                                <td> <%= queues.advance_amount%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Balance Amount </th>
                                                <td> <%= queues.balance_amount%> </td>
                                            </tr>
                                            
                                            
                                            
                                            <tr>
                                                <th> Auditor Advance Approval </th>
                                                <td> <%= queues.auditor_advance_approval%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Auditor Balance Approval </th>
                                                <td> <%= queues.auditor_balance_approval%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Auditor Comment </th>
                                                <td> <%= queues.auditor_comment%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Finance Advance Approval </th>
                                                <td> <%= queues.finance_advance_approval%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Finance Balance Approval </th>
                                                <td> <%= queues.finance_balance_approval%> </td>
                                            </tr>
                                            
                                            <tr>
                                                <th> Finance Comment </th>
                                                <td> <%= queues.finance_comment%> </td>
                                            </tr>
                                            
                                            
                                            <tr>                                            
                                            <%if (queues.repair_status == '') { %>
                                                <%if ((queues.auditor_advance_approval == 'APPROVED' && queues.finance_advance_approval == 'APPROVED') || (queues.auditor_balance_approval == 'APPROVED' && queues.finance_balance_approval == 'APPROVED')) { %>
                                                <th> Create Repair Status </th>
                                                <td> <a href="/facilities/repairStatus?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" > Create Repair Status</a> </td>
                                                <% } else{ %> 
                
                                                    <% } %>
                                            <% } else{ %> 
                                                <th> Create Repair Status </th>
                                                <td><a class="badge badge-primary">Repair Status Created</a></td> 
                                                <% } %>

                                            </tr>
                                            <!-- <tr>
                                                <th> Create Repair Status </th>
                                                <td> <a href="/facilities/repairStatus?id=<%=queues.id%>" id='<%=queues.id%>' class="btn btn-sm btn-success rounded-pill" > Create Servicing Status</a> </td>
                                            </tr> -->
                                        </tbody>
                                        

                                        <!-- you may need to come back to change the outlook of the table to make it a two column table-->
                                    </table>
                                    <br>
                                    <br>
                                    
                                    
                                    <input type="hidden" name="created_by" class="form-control" id="created_by" value="<%=userDetails.first_name + ' ' + userDetails.last_name%>" required>

                                    
                                    
                                </div>
                                <br>
                                
                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- partial:partials/_footer.html -->
            <%- include('./bars/footer') %>
            <!-- partial -->

        </div>
    </div>

    <!-- core:js -->
    <script src="../../../assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="../../../assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../../../assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="../../../assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../../../assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../../../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../../../assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="../../../assets/vendors/feather-icons/feather.min.js"></script>
    <script src="../../../assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="../../../assets/js/dashboard.js"></script>
    <script src="../../../assets/js/data-table.js"></script>
    <!-- end custom js for this page -->
</body>

</html>